* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 380px;
  justify-content: flex-start;
  align-items: center;
}

/* variables */
:root {
  --function-bar-height: 50px;
  --add-btn-height: calc(var(--function-bar-height) + 10px);
  --content-width: 300px;
  /* themes */
  --header-background: #0f8677;
  --icon-background: #03658c;
  --border: #94bee2;
  --item-background: #a6e0dd;
  --add-btn: #04bec4;
  /* iOS style toggle */
  --button-width: 50px;
  --button-height: 30px;
  --toggle-diameter: 25px;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 2px;
  --toggle-wider: 33px;
  --color-green: #30d158;
}

a {
  color: black;
  text-decoration: none;
}

/* screen area */

.interface-container {
  position: relative;
  margin: 30px auto;
  width: 360px;
  height: 640px;
  /* box-sizing: border-box; */
  border: 1px solid var(--icon-background);
  overflow: hidden;
}

/* 好孩子不要学 */
.interface-container::before {
  /* content: url('/screen.png'); */
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 640px;
  /* background: url('/screen_compressed.png') no-repeat; */
  background-size: cover;
  pointer-events: none;
  z-index: 500;
}

/* general header styles */

header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* width: 100%; */
  padding-top: 20px;
  padding-bottom: 10px;
  height: 70px;
  font-size: 24px;
  color: white;
  background-color: black;
  box-sizing: border-box;
}

.backbtn-top .fas {
  font-size: 22px !important;
  padding: 0;
  margin: 0;
}

.fas.fa-chevron-right {
  font-size: 18px !important;
}

header.account-header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0f8677;
}

header.account-header.complete {
  height: 140px;
  /* background-color: #0f8677; */
}

header.startup {
  justify-content: flex-end;
}

header h1 {
  margin: 0 10px;
  font-size: 30px;
}

header #diet-rec-title {
  font-size: 28px;
}

.avartar-small {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 10px;
  width: 80px;
  height: 80px;
  margin: auto 5px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.avartar-small img {
  width: 80px;
}

.avartar-min {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: auto 5px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.avartar-min img {
  width: 40px;
}

.userinfo-label {
  line-height: 40px;
  height: 80px;
  /* border: 1px solid red; */
}

.account {
  font-size: 12px;
}

.userinfo-top {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
}

.username-top {
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  font-size: 20px;
  /* border: 1px solid; */
}

.username-top.complete {
  font-weight: bold;
  padding: 0;
  font-size: 22px;
}

.username-top.btn {
  padding: 0 10px;
  text-decoration: underline;
}

.backbtn-top {
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 40px;
  height: 40px;
  /* background-color: red; */
}

.add-btn-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: auto 5px;
}

.add-btn-top.complete {
  font-size: 24px;
}

/* skip button for tutorial */

.skip-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  height: 50px;
  font-size: 24px;
  padding: 0 30px;
  text-decoration: underline;
}

#main-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 2px 2px rgb(202, 202, 202);
}

/* avartar for registration page */

#avartar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--border);
  box-shadow: 0px 2px 2px rgb(202, 202, 202);
  overflow: hidden;
}

#avartar img {
  width: 100px;
}

/* main content area */

.content {
  margin-top: 10px;
  /* max-height: 520px; */
  /* border: 1px solid red; */
  overflow: hidden;
  box-sizing: border-box;
}

.main-list {
  margin: 20px 10px;
  /* border: 1px solid black; */
  box-sizing: border-box;
  font-weight: bold;
}

.main-list h2 {
  font-size: 30px;
  margin: 10px 0px;
}

.main-list.add-panel {
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid var(--border);
  /* background-color: var(--border); */
  box-shadow: 0px 2px 2px rgb(202, 202, 202);
}

.main-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 40px;
  background-color: #a6e0dd;
  border: 1px solid #94bee2;
  /* box-shadow: 0px 2px 2px 0px #B2AEA6; */
}

.setting-label {
  font-weight: bold;
}

.main-list-item span.fas {
  color: white;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  padding: 4px;
  background-color: #03658c;
}

.main-list-item.user-item {
  height: 50px;
  margin: 20px 0;
  justify-content: flex-start;
}

.main-list-item.med-item {
  height: 50px;
  margin: 0;
  justify-content: flex-start;
}

.main-list-item.user-item .avartar-small {
  margin: -5px;
}

.main-list-item.user-info {
  display: flex;
  justify-content: space-between;
}

/* .main-list-item.user-info .d {
  font-size: 20px;
  border: none;
  margin: 10px 0;
  color: white;
  background-color: var(--icon-background);
  
} */

.main-list-item.user-info .label {
  width: 130px;
}

.main-list-item.user-info .info {
  width: 160px;
  padding-right: 10px;
  text-indent: 1em;
  text-align: end;
  font-weight: normal;
  /* border: 1px solid red; */
}

.main-list-item.user-info.d.u {
  border: none;
}

.main-list-item.user-info .d {
  margin-right: 5px;
  padding: 5px 10px;
  /* border: 1px solid rgb(192, 192, 192); */
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: var(--icon-background);
}

.main-list-item.description {
  padding: 10px;
  height: auto;
  font-weight: normal;
  /* text-indent: 2em; */
}
.main-list-item.diet {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0;
  border: none;
}

.main-list.overview {
  margin-top: 0;
}

.main-list-item.event-item{
  font-size: 14px !important;
}

.main-list-item.event-item.expanded {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: auto;
}

.main-list-item.event-item.r {
  margin-top: 10px;
  margin-bottom: 50px;
  padding-right: 10px;
  border: none;
  background-color: #e2effa;
}

.main-list-item.event-item .event {
  margin: 0 10px;
  width: 100%;
  /* border: 1px solid red; */
}

.main-list-item.event-item .med-name{
  font-weight: normal;
  padding-right: 10px;
}

.main-list-item.event-item .event.name {
  font-weight: bold;
}

.main-list.details {
  border: 1px solid black;
  border-radius: 20px;
  /* top | horizontal | bottom */
  padding: 20px 0 40px;
}

.main-list.details.reminder {
  border: 1px solid var(--border);
  border-radius: 10px;
  /* top | horizontal | bottom */
  padding: 10px 0;
  background-color: var(--item-background);
  box-shadow: 0px 2px 2px rgb(202, 202, 202);
}

#detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

#curr-timeslot {
  font-weight: bold;
}

#cancel-btn {
  text-decoration: underline;
}

.main-list-item.detail-item {
  display: block;
  height: auto;
  margin-top: 10px;
  border: none;
  padding: 10px;
}

.main-list-item.reminder-item {
  display: block;
  height: auto;
  border: none;
  padding: 10px;
}

.main-list-item.detail-item h3 {
  margin: 0;
  padding: 0;
}

.img-container {
  width: 80px;
  height: 80px;
  background-color: antiquewhite;
  box-sizing: border-box;
  overflow: hidden;
  /* border: 1px solid black; */
  /* background-image: url('lean meat.png'); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  /* width: 80px; */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.excerpt {
  padding-bottom: 10px;
}

.excerpt h3 {
  margin-top: 10px;
  margin-left: 5px;
  padding: 0;
  font-size: 18px;
}

.diet-desc {
  width: 250px;
  padding-left: 5px;
  padding-right: 5px;
  display: -webkit-box;
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
  line-clamp: 3;
  box-orient: vertical;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* border: 1px solid red; */
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 30px;
  height: 30px;
  /* background-color: red; */
}

.list-label {
  font-size: 20px;
  position: relative;
  margin: auto;
}

/* todo */
.main-list table {
  position: relative;
  margin: auto;
  width: 100%;
  /* height: 300px; */
  border: 1px solid var(--border);
  /* background-color: var(--item-background); */
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
  font-weight: normal;
}

.main-list div.table-wrapper {
  max-height: 180px;
  overflow: hidden;
  box-shadow: inset 0px -40px 28px -17px #afacaa;
  z-index: 200;
}

.main-list table {
  /* this attr will affect <tr> border */
  border-collapse: collapse;
}

.main-list table td {
  font-size: 16px !important;
  height: 30px;
  line-height: 20px;
  padding: 0 5px;
}

.main-list table td.name {
  font-weight: bold;
  font-size: 18px !important;
}

.main-list tbody tr {
  border: 1px solid var(--border);
}

/* large button for registration page */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
  width: var(--content-width);
  height: 40px;
  color: rgb(8, 82, 63);
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid var(--border);
  background-color: var(--item-background);
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(202, 202, 202);
  cursor: pointer;
}

/* form related styles */

form {
  position: relative;
  width: var(--content-width);
  margin: auto;
  display: block;
  /* border: 1px solid black; */
}

input {
  width: var(--content-width);
  height: 35px;
  margin: 10px auto;
  box-sizing: border-box;
}

#repeat-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.picker.cycle {
  width: 100%;
  height: 30px;
}
.picker.gender.selected,
.picker.cycle.selected {
  background-color: #d4d4d4;
}

#Gender {
  display: flex;
  width: var(--content-width);
  margin-top: 10px;
}

.picker {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.picker.gender {
  width: 100px;
  height: 30px;
}
#Diet {
  display: flex;
  margin: 0 10px;
  /* border: 1px solid red; */
}

#Alarm {
  display: flex;
}

.picker.diet {
  width: 200px;
  height: 40px;
}

.picker.diet.selected {
  background-color: #d4d4d4;
}

.picker.diet.a {
  width: 100%;
  height: 40px;
  color: #00463c;
  font-weight: bold;
  border-left: none;
  border-bottom: none;
}

/* Date picker */
#date-picker-container {
  position: relative;
  margin: 10px;
}

.selector {
  height: 25px;
}

#month-picker {
  width: 100px;
}

#day-picker {
  width: 100px;
}

#year-picker {
  width: 130px;
}

/* calendar-view */
table#calendar-view {
  height: 300px;
  padding: 10px;
  /* font-weight: bold; */
  border-spacing: 0;
  border-collapse: separate;
  border: 2px solid var(--border);
  border-radius: 2px;
}

table#calendar-view td {
  text-align: center;
  /* width: 40px; */
}

table#calendar-view td.selected-date {
  background-color: var(--icon-background);
  color: white;
  border-radius: 10px;
}

/* bottom functions */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--function-bar-height);
  background-color: rgb(214, 214, 214);
  box-sizing: border-box;
  z-index: 100;
}

footer.demo-footer {
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}

footer.demo-footer .functions {
  border-radius: 50%;
}

footer.demo-footer.arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 360px;
  bottom: 70px;
  font-size: 22px !important;
  color: white;
  border: 1px solid red;
  visibility: hidden;
}

footer.demo-footer.arrow .visible {
  visibility: visible;
}

.functions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: var(--function-bar-height);
  height: var(--function-bar-height);
  font-size: 30px;
  background-color: rgb(214, 214, 214);
  /* border: 1px solid black; */
}

.functions.non-visible {
  visibility: hidden;
}

.functions .f-label {
  font-size: 10px;
}

.functions.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--add-btn-height);
  height: var(--add-btn-height);
  font-size: 50px;
  border-radius: 50%;
  color: white;
  border: 5px solid white;
  background-color: #04bec4;
  box-shadow: 0px 2px 2px rgb(136, 136, 136);
}

/* Startup page icon */
#startup-icon {
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
  border-radius: 50px;
  /* border: 1px solid black; */
  box-shadow: 0px 3px 4px rgb(202, 202, 202);
}

#startup-icon img {
  width: 200px;
  height: auto;
}

#forget {
  text-decoration: underline;
}

.content.mask {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  top: 0;
  margin-top: 0;
  width: 360px;
  height: 640px;
  max-height: none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
  pointer-events: none;
  /* border: 1px solid red; */
  box-sizing: border-box;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.content.mask ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  list-style: none;
}

.content.mask ul li {
  /* display: inline; */
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background-color: var(--item-background);
}

.content.mask ul li.selected {
  background-color: var(--icon-background);
}

.content.mask.alarm {
  align-items: center;
}

.alarm-window {
  width: 300px;
  border-radius: 10px;
  background-color: #e2effa;
  overflow: hidden;
}

.annotation {
  position: absolute;
  bottom: 100px;
  padding: 10px;
  color: white;
  font-size: 24px !important;
  /* background-color: white; */
}

.annotation.proceed {
  font-size: 18px !important;
  top: 50%;
}

/* MedManagement */
.user-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  margin: 0 10px;
  padding: 0;
  /* border: 1px solid black; */
}

#user-list-header input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  background-color: black;
}

#user-list-header span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.add-reminder-panel {
  margin-top: 10px;
  background-color: var(--item-background);
  height: 200px;
  border: 1px solid var(--border);
}

.panel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.panel-header h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--border);
  padding: 0 10px;
}

.panel-header span {
  position: absolute;
  right: 20px;
  /* padding: 10px; */
  font-size: 30px;
}

/* iOS toggle */

#darkmode-indicator {
  /* position: absolute;
  right: 10px; */
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

/* #darkmode-indicator-text {
  color: var(--darkmode-indicator-text) !important;
  font-size: 12px !important;
  margin: auto 5px;
  pointer-events: none;
} */

span#theme-toggle {
  display: inline-block;
  width: var(--button-width) !important;
  height: var(--button-height) !important;
  /* width:52px; */
  /* height: 22px; */
  background-color: rgb(201, 201, 201);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  /* margin-top: 4px; */
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

#theme-toggle::after {
  content: '';
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: white;
  /* 50% */
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

#terms {
  width: 20px;
  height: 20px;
  display: block;
}

input {
  border-radius: 4px;
  border: 1px solid black;
  background-color: #f0f0f0;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked + #theme-toggle {
  background-color: var(--color-green);
}

input[type='checkbox']:checked + #theme-toggle::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

/* long press */
input[type='checkbox']:active + #theme-toggle::after {
  width: var(--toggle-wider);
}

input[type='checkbox']:checked:active + #theme-toggle::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}
